.container {
  padding-top: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  text-align: left;
  margin: 0 auto;
}

.emoji {
  font-size: 3em;
  position: relative;
  margin: 10px;
}

.emoji.right {
  float: right;
}

.emoji.left {
  float: left;
}
