* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 40px;
  border-bottom: 1px solid #BBB;
}

.logo {
  padding-left: 10px;
}

.garlic {
  color: green;
}

.container {
  padding-top: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

.transcript {
  font-family: "Georgia", Times New Roman, serif;
  font-size: 1.143em;
  line-height: 1.7;
}

h1 {
  font-size: 2.5em;
  font-family: "Playfair Display", "Georgia", Times New Roman, serif;
  letter-spacing: -0.9px;
  line-height: 1.3;
  margin-bottom: .5em;
  margin-top: 0;
  font-weight: bold;
}

.tldr {
  position: fixed;
  width: 170px;
  float: left;
  margin-left: -190px;
  font-family: "Playfair Display","Georgia",Times New Roman,serif;
  font-size: 13px;
  line-height: 1.3;
  padding-bottom: 30px;
  border-bottom: 1px solid #BBB;
}

.tldr h4 {
  font-size: 12px;
  font-family: "Playfair Display","Georgia",Times New Roman,serif;
  font-weight: bold;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.item {
  width: 70%;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 10px;
  min-height: 100px;
}

.item:nth-child(2n) {
  margin-left: 30%;
}

.item .snapshot {
  float: right;
  width: 42%;
  margin-right: -48%;
  margin-top: -10px;
}

.item .snapshot img {
  width: 100%;
}

.item:nth-child(2n) .snapshot {
  float: left;
  margin-left: -48%;
}

.emoji {
  font-size: 3em;
  position: absolute;
  right: -15px;
  margin-top: -40px;
}

.item:nth-child(2n) .emoji {
  left: -15px;
}

.concept {
  text-transform: capitalize;
}
