<h1><%= video.snippet.title %></h1>

<div class="tldr">
  <h4>TL;DR;</h3>
  <% keywords && keywords.filter(function (c) { return c.relevance > 0.3 }).map(function (c) { %>
     <div>
       <%= c.text %>
       <%= c.sentiment.type === 'positive' ? '👍' : (c.sentiment.type === 'negative' ? '👎' : '') %>
     </div>
  <% }) %>
</div>

<div class="transcript">
<% var emojiMap = {sadness: '😔', anger: '😡', disgust: '🤢', fear: '😱', joy: '😊'} %>
<% bySpeaker.map(function (m) { %>
  <div class="item">
    <div class="snapshot">
      <img src="/snapshots/<%= m.videoId %>-<%= m.screenshotTime %>.png" alt="snapshot">
    </div>
    <% var emotion = (m.sentences.find(function(s) { return s.emotion_tone }) || {}).emotion_tone; if (emotion) { %>
      <div class="emoji">
        <%= emojiMap[emotion] %>
      </div>
    <% } %>
    <% m.sentences.map(function (s) { %>
      <div>
        <%= s.text.replace(/%HESITATION/g, '🤔') %>
      </div>
      <% if (s.gif) { %>
        <img src="<%= s.gif %>" class="gif"/>
      <% } %>
    <% }) %>
  </div>
<% }) %>
</div>
