<h1 class="title"><%= video.snippet.title %></h1>

<div class="tldr">
  <h4>TL;DR;</h3>
  <% keywords && keywords.filter(function (c) { return c.relevance > 0.7 && c.text.replace('HESITATION', '') }).map(function (c) { %>
     <div class="concept">
       <%= c.text.replace('HESITATION', '') %>
       <%= c.sentiment.type === 'positive' ? '👍' : (c.sentiment.type === 'negative' ? '👎' : '') %>
     </div>
  <% }) %>
  <hr>
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_email"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>

<iframe width="600" height="315" src="https://www.youtube.com/embed/<%= video.id %>" frameborder="0" allowfullscreen style="margin-bottom: 20px;"></iframe>

<div class="transcript">
<% var emojiMap = {sadness: '😔', anger: '😡', disgust: '💩', fear: '😱', joy: '😊'} %>
<% bySpeaker.map(function (m) { %>
  <div class="item">
    <div class="snapshot">
      <img src="/snapshots/<%= m.videoId %>-<%= m.screenshotTime %>.png" alt="snapshot">
    </div>
    <% var emotion = (m.sentences.find(function(s) { return s.emotion_tone }) || {}).emotion_tone; if (emotion) { %>
      <div class="emoji">
        <%= emojiMap[emotion] %>
      </div>
    <% } %>
    <% (m.sentences || []).map(function (s) { %>
      <div>
        <% (s.words || []).map(function (w) { %>
        <span
          style="<%= w.info.isKeyword ? 'font-weight:bold' : '' %>"
        ><%= w.text %></span>
        <% }) %>
      </div>
    <% }) %>
  </div>
<% }) %>
</div>
